#menuProjectes{
  position: relative;
  text-align: left;
  width: 1000px;
  height: 95px;
  top: 5px;
    margin-bottom: 10px;
}
#menuProjectes .petites
{
    position:absolute;
    width: 900px;
    padding-top: 1px;
    margin-top: 0px;
    height: 95px;
    margin-bottom: 10px;
}
#menuProjectes ul
{
    list-style: none;
    margin-left: 0px\9;
}
#menuProjectes .petites li
{
    float: left;
    margin-right: 6px;
}
#menuProjectes .petites ul a img:hover
{
    border-style: none;
}
.imatgeGran img {
    max-height: 450px;
    max-width: 700px;
}
#imatgesProjectes{
  position: absolute;
   width: 960px;
   height: 490px;
  background-color: #666666;
}
#imatgesProjectes .imatgeGran
{
    position: absolute;
    bottom: 5px;
    right: 11px;
}
#imatgesProjectes ul
{
    list-style:none;
}
#imatgesProjectes .contenidorImatges
{
    background-color: #666666;
    position: absolute;
    bottom: 10px;
    width: 246px;
    padding: 0px;
    margin: 0px;
    height: 100px;   
}
#imatgesProjectes .contenidorImatges li
{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
#imatgesProjectes .contenidorImatges li img
{
    display: block;
}
#imatgesProjectes .contenidorImatges li img:hover
{
    border-style: none;
}
#imatgesProjectes .contenidorImatges .primeraFila {
    position: absolute;
    top: 49px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 50px;
    padding-top: 0px;

}
#imatgesProjectes .contenidorImatges .segonaFila {
    position: absolute;
    /*top: -100px;*/
    margin-bottom: 0px;
    margin-top: 0px;
    height: 50px;

}
#imatgesProjectes .contenidorImatges .terceraFila {
    position: absolute;
    top: -50px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
}
.descripcioProjecte{
  position: relative;
  width: 230px;
  height: 475px;
  top: 15px;
  margin-top: 15px;
  margin-left: 10px;
  font-family: Average;
  color: white;
  font-size: 10px;
  text-align: justify;
}

/*Estils del text*/
.descripcioProjecte h1 {
    font-size: 13px;
}
.descripcioProjecte h2 {
    font-size: 12px;
}
.descripcioProjecte h3 {
    font-size: 11px;
}
.descripcioProjecte h4, .descripcioProjecte h5{
    font-size: 10px;
}
.descripcioProjecte p, .descripcioProjecte h1, .descripcioProjecte h2, .descripcioProjecte h3, .descripcioProjecte h4, .descripcioProjecte h5 {
    margin-top: 0px;
}

/*Scrollbar menuProjectes 
#menuProjectes .scrollbar {
    background: transparent url("/img/imatges/bg-scrollbar-track-x.png") no-repeat 0 0;
    position: relative;
    margin-bottom: 5px;
    clear: both;
    height: 15px;
}
#menuProjectes .scrollbar {
    background: transparent url("/img/imatges/bg-scrollbar-trackend-x.png") no-repeat 100% 0;
    position: relative;
    width: 100px;
    height: 15px;
}
#menuProjectes .thumb {
    background: transparent url("/img/imatges/bg-scrollbar-thumb-x.png") no-repeat 100% 50%;
    height: 25px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -5px;
}
#scrollbar2 .thumb .end {
    background: transparent url("/img/imatges/bg-scrollbar-thumb-x.png") no-repeat 0 50%;
    overflow: hidden;
    height: 25px;
    width: 5px;
}*/
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
